<h1><%= @current_user.first_name %>'s Favourites</h1>


  <% @favourites.each do |f| %>
    <h2> <%= link_to f.name, favourite_path(f) %> </h2>


    <% end %>
    <%= link_to "Add to", edit_favourite_path(@favourites) %>



<%= link_to "Create New Favourite List", new_favourite_path %>
