<h1>New Favourite</h1>

<%= form_for @favourite do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>

  <%= f.submit "New Favourites List", :class => 'btn btn-dark' %>
<% end %>
