<h1> <%= @favourite.name %> </h1>

<% @favourite.venues.each do |v| %>

    <p><%= v.name %></p>

  <% end %>

  <div class="controls">
    <%= link_to "Edit", edit_favourite_path(@favourite) %>
    <%= button_to "Delete Favourite", favourite_path, :method => 'delete', :data => { :confirm => 'Are you sure?'} %>
  </div>
