<h1>Thank you for coming to Dinnr!</h1>

<p>Dinnr is a web-based application that makes it easier for you and your friends to choose a venue on a night out.</p>

<p><%= link_to "Sign Up", new_user_path %> now to learn more!</p>

<%= image_tag("title_image.jpg", :id => 'home-image')  %>
